# UCL

## COMP0164 Digital Finance

## Workshop 2: Intermediate Python

# Table of Contents
* [1. Imports](#1.-Imports)
* [2. Object Oriented Programming](#2.-Object-Oriented-Programming)
    * [2.1 Attributes](#2.1-Attributes)
    * [2.2 Methods](#2.2-Methods)
    * [2.3 Common Classes and Methods in Python](#2.3-Common-CLasses-and-Methods-in-Python)
        * [2.3.1 Strings (Revisited)](#2.3.1-Strings-(Revisited))
        * [2.3.2 Lists (Revisited)](#2.3.2-Lists-(Revisited))
    * [2.4 Object Oriented Programming: Exercises](#2.4-Object-Oriented-Programming:-Exercises)
* [3. Data  Structures: Pandas](#3.-Data-Structures:-Pandas)
    * [3.1 Series](#3.1-Series)
    * [3.2 DataFrames](#3.2-DataFrames)
    * [3.3 Index Objects](#3.3-Index-Objects)
        * [3.3.1 Index Objects: Exercises](#3.3.1-Index-Objects:-Exercises)
    * [3.4 Essential Functionality](#3.4-Essential-Functionality)
        * [3.4.1 Reindexing](#3.4.1-Reindexing)
        * [3.4.2 Dropping Entries from an Axis](#3.4.2-Dropping-Entries-from-an-Axis)
    * [3.5 Indexing, Selection, and Filtering](#3.5-Indexing,-Selection,-and-Filtering)
        * [3.5.1 Arithmetic and Data Alignment](#3.5.1-Arithmetic-and-Data-Alignment)
        * [3.5.2 Function Application and Mapping](#3.5.2-Function-Application-and-Mapping)
        * [3.5.3 Sorting and Ranking](#3.5.3-Sorting-and-Ranking)
        * [3.5.4 Axis Indexing with Duplicate Values](#3.5.4-Axis-Indexing-with-Duplicate-Values)
        * [3.5.5 Indexing, Selection, and Filtering: Exercies](#3.5.5-Indexing,-Selection,-and-Filtering:-Exercises)
    * [3.6 Computing Descriptive Statistics](#3.6-Computing-Descriptive-Statistics)
        * [3.6.1 Correlation and Covariance](#3.6.1-Correlation-and-Covariance)
        * [3.6.2 Unique Values, Value Counts, and Membership](#3.6.2-Unique-Values,-Value-Counts,-and-Membership)
    * [3.7 Handling Missing Data](#3.7-Handling-Missing-Data)
        * [3.7.1 Filtering Out Missing Data](#3.7.1-FFiltering-Out-Missing-Data)
        * [3.7.2 Filling In Missing Data](#3.7.2-Filling-In-Missing-Data)
        * [3.7.3 Handling Missing Data: Exercises](#3.7.3-Handling-Missing-Data:-Exercises)
    * [3.8 Custom Data Import](#3.8-Custom-Data-Import)
    * [3.9 Combining and Merging Data Sets](#3.9-Combining-and-Merging-Data-Sets)
        * [3.9.1 Database-Style DataFrame Merges](#3.9.1-Database-Style-`DataFrame`-Merges)
        * [3.9.2 Merging on Index](#3.9.2-Merging-on-`Index`)
        * [3.9.3 Combining-and-Merging-Datasets: Exercises](#3.9.3-Combining-and-Merging-Data-Sets:-Exercises)
    * [3.10 Concatenating Along an Axis](#3.10-Concatenating-Along-an-Axis)
    * [3.11 Combining Data with overlap](#3.11-Combining-Data-with-`overlap`)
        * [3.11.1 Combining Data with overlap: Exercises](#3.11.1-Combining-Data-with-`overlap`:-Exercises)
    * [3.12 Reshaping](#3.12-Reshaping)
        * [3.12.1 Reshaping-with-Hierarchical-Indexing](#3.12.1-Reshaping-with-Hieararchical-Indexing)
        * [3.12.2 Reshaping: Exercises](#3.12.2-Reshaping:-Exercises)
    * [3.13 Data Transformation](#3.13-Data-Transformation)
        * [3.13.1 Removing Duplicates](#3.13.1-Removing-Duplicates)
        * [3.13.2 Transforming Data Using a Function or Mapping](#3.13.2-Transforming-Data-Using-a-Function-or-Mapping)
        * [3.13.3 Data Transformation: Exercises](#3.13.3-Data-Transformation:-Exercises)
    * [3.14 Replacing Values](#3.14-Replacing-Values)
        * [3.14.1 Renaming Axis Indexes](#3.14.1-Renaming-Axis-Indexes)
        * [3.14.2 Discetization and Binning](#3.14.2-Discretization-and-Binning)
        * [3.14.3 Detecing and Filtering Outliers](#3.14.3-Detecing-and-Filtering-Outliers)
        * [3.14.4 Permutation and Random Sampling](#3.14.4-Permutation-and-Random-Sampling)
        * [3.14.5 Replacing Values: Exercises](#3.14.5-Replacing-Values:-Exercises)
* [4. APIs and Working with Web Applications](#4.-APIs-and-Working-with-Web-Applications)
    * [4.1 Importing Files from the Web](#4.1-Importing-Files-from-the-Web)
    * [4.2 HTTP Requests in Python](#4.2-HTTP-Requests-in-Python)
        * [4.2.1 HTTP Requests Using requests](#4.2.1-HTTP-Requests-Using-**`requests`**)
    * [4.3 API Requests](#4.3-API-Requests)
        * [4.3.1 API Requests With Authentication](#4.3.1-API-Requests-With-Authentication)
        * [4.3.2 API Requests Without Authentication](#4.3.2-API-Requests-Without-Authentication)

# 1. Imports

We need to import the following modules:

In [ ]:
import numpy as np
import pandas as pd
import yfinance as yf
import requests
import json

# Interlude: Discount Rates and Cahsflows

## Discount Rates

<mark>Discount rates</mark> are used to compute <mark>the Net Present Value (NPV)</mark> or the <mark>Present Value (PV)</mark> of the investment opportunity as part of the Discounted Cash Flow (DCF) analysis. [They allow us to](https://corporatefinanceinstitute.com/resources/valuation/discount-rate/):

- Account for the time value of money
- Account for the riskiness of an investment
- Represent opportunity cost for a company
- Act as minimum return rate (hurdle rate) for investment decisions
- Allow for comparison of different investment projects and strategies

Therefore, picking the right discounting rate is crucial for performing the cashflow analysis.

The commonly used discount rates in the corporate finance are:

- **Cost of Equity**: For calculating the equity value of a company.
- **Cost of Debt**: For calculating the value of a bond or fixed-income security.
- **Weighted Average Cost of Capital (WACC)**: For calculating the enterprise value of company.
- **Hurdle Rate**: For calculating the investment in internal corporate projects.
- **Risk-Free Rate**: For calculating the impact of time value of money on an investment or project.

## Discounting Cashflows

When evaluating investments, we take into considerations cashflows generated as returns but also the costs associated with the investment. Therefore, the <mark>discounting models can be modified to reflect discounted costs</mark> that will be discounted at a certain rate going forward.

For example, if there is an administrative cost associated with an annuity-like investment, we can axpress its NPV as:

$$NPV_{\text{modified}} = PV_{\text{annuity}} - PV_{\text{cost}} = C[\frac{1}{r}-\frac{1}{r(1+r)^{n}}] - H[\frac{1}{r^{\prime}}-\frac{1}{r(1+r^{\prime})^{n}}],$$

where

- $C$ is the cash flow of an annuity
- $H$ is the cost
- $r$ and $r^{\prime}$ are the discounting rates (they can be different or the same depending on the model)

Note, that we can modify NPV and PV in many different ways, depending on the application. Therefore, different rates and timeframes might be used in the same model simultanously.

The questions you may want to ask when evaluating the NPV and PV are:

- What does the NPV/PV represent in the model (i.e., equity, debt, enterprise value)?
- What does each cash flow represent?
- What are the discount rates for each cash flow?
- What are the time steps at which the cash flows are discounted?

# 2. Object Oriented Programming

**`Python`** uses **Object Oriented Programming (OOP)** paradigm, meaning that we can define 'types' of objects and reuse this definition to create objects of the same type without having to define similar feature over and over again.

**OOP** paradigm is based on the concept of objects that contain data and code:

- The data describes an object and we usually refer to this data as attributes or properties.
- The code is defines the actions that an object can perform, including processing its own data (i.e., attributes). A class can have multiple different bits of code (i.e., functions) and we refer to them as methods.

In **`Python`**, we define a class using the `class` keyword.

Inside the class we can refer to itself using the keyword `self`, in order to access its own attributes or run its methods.

For example, let's say we want to create multiple cars to perform some simulations or do data processing. We assume that a car has a manufacturer and a colour. Also, we want a car to move forward and backward.

Instead of rewriting code to create individual cars, we can define a class to do this job for us and include all the relevant information inside:

In [ ]:
class Car:
    has_wheels = True

    def __init__(self, manufacturer:str, colour:str) -> None:
        self.manufacturer = manufacturer
        self.colour = colour

    def drive_forward(self, x:float) -> float:
        return x+5
    
    def drive_back(self, x:float) -> float:
        return x-5

This class defines a general template that all cars that we will define will follow.

Inside this class we used multiple abstractions:

- **Class atribute** is an attribute that every object of this class will have. The **class attributes** are defined in the main body of the class (e.g., `has_wheels` attribute in our example).
- **Instance attribute** is an attribute that is specific to every object of this class. **Instance attributes** are defined inside the `.__init__()` method by assigning the input variables to this class using the `self` keyword (e.g., `manufacturer` and `colour` are specific to every car and we assign them inside the `.__init__()` function).
- **Method** is a block of code that every instance of the class will have. it is defined in the main body of the class just like we did with functions. The only difference is that we pass `self` keyword as the first parameter in order to notify the class that this method may use some of the class attributes (e.g., `.drive_forward()` and `.drive_back()` are two methods we defined as every car should drive forward and reverse).

Now we can use this class to define multiple objects of this class (i.e., instances of this class).

In [ ]:
car_1 = Car(manufacturer="BMW", colour="black")
car_2 = Car(manufacturer="Ferrari", colour="red")

We 'create' an instance or object of the class by calling the class and assigning to it the required instance attributes.

In our case, we initiated two objects of type car vy providing the manufacturerr and the colour

## 2.1 Attributes

As mentioned above. we can access the data stored inside the classes.

In order to do that we use the name of the instance followed by `.` and the name of the instance attribute that we want to get:

In [ ]:
# Example of getting the manufacturer of the car_1
print(car_1.manufacturer)

# Example of getting the colour of car_2
print(car_2.colour)

We can also access the class attributes in the same way:

In [ ]:
print(car_1.has_wheels)

## 2.2 Methods

Class methods allow us to work with data inside the class or for the objects we define to perform some actions.

For example, if `car_1` positioned along the x-axis we can make it go in that direction by calling `.drive_forward()` method:

In [ ]:
x = 0
print(car_1.drive_forward(x))

The proiblem with our current class is that it doesn't store the position of the car. We can change this by adding a new instance attribute to our `.__init__()` method.

In [ ]:
from typing import Union

class Car:
    def __init__(self, manufacturer:str, colour:str, x:Union[int, float]) -> None:
        self.manufacturer = manufacturer
        self.colour = colour
        self.x = x

    def drive_forward(self) -> None:
        self.x = self.x+5
        return None
    
    def drive_back(self) -> None:
        self.x = self.x-5
        return None

Note that in the code above the methods don't anymore require the `x` parameter as we have defined it as the instance attribute.

In [ ]:
car_3 = Car(manufacturer="Toyota", colour="white", x=40)
car_3.drive_forward()
print(car_3.x)

## 2.3 Common Classes and Methods in Python

We have previously encountered classed as these are widely used in **`Python`** to define objects, including data types (i.e., recall that `type(str)` returns `<class 'str'>`).

Class as an abstarction has multiple default methods prebuilt that we can rewdefine for any class:

- `.__init__()` method hels us initiate an instance of this class, assigning instance attributed, performing checks and initiation parent classes if these exist.
- `.__len__()` method allows us to definethe function that we can use to provide the length of our object. This method will be used when we call `lan(instance)` function of this instance (e.g., if we have a list `some_list`, we can check its length by `len(some_list)`, which will refer to the method `__len__()` inside the `list` type)
- `.__str__()` method allows us to print some information about the class when we call the `print()` function over it.

For example:

In [ ]:
from typing import Union

class Stock:
    def __init__(self, ticker:str, current_price:Union[int, float], n_datapoints:int) -> None:
        self.ticker = ticker
        self.current_price = current_price
        self.n_datapoints = n_datapoints

    def __str__(self) -> str:
        return self.ticker
    
    def __len__(self) -> int:
        return self.n_datapoints
    
apple = Stock(ticker="AAPL", current_price=175.51, n_datapoints=1200)
# print() function accesses .__str__() method of the class Stock
print(apple)
# len() function accesses .__len__() method of the class Stock
print(len(apple))

### 2.3.1 Strings (Revisited)

We have already introduces strings as a data type, but now we can look at the methods available to objects of string class

Some of the common string methods are listed in the table below along with the description of their functionality;
| Method | Description |
| --- | --- |
| `.format()` | Fill in the spaces `{}` inside the string. This way we can create a template of a string and some values to it later. |
| `.upper()` | Capitalize all alphabetical characters inside a string |
| `.lower()` | Decapitalize all alphabetical characters inside a string |
| `.split()` | Given a sequence of characters, we can split the string using these characters into multiple strings |
| `.replace()` | Replace certain sequence of characters with a new sequence of characters |
| `.find()` | Find an occurance of a certain sequence of characters and returns the index of the first character from the searched sequence in a string |

Below are some examples of how to use these methods:

In [ ]:
# Example of using .format() method to fill in the missing values inside a string
some_string = "Hello, {0}! How {1} you?".format("world", "are")
print(some_string)

#Example of using .upper() method to capitalize all letters in a string
some_string = "no capital letters".upper()
print(some_string)

# Example of using .lower() method to decapitalize all letters in a string
some_string = "Some letters are CAPITALIZED".lower()
print(some_string)

# Example of using .split() method to sptil a string based on symbol ;
some_string = "String; is; separated; into; parts.".split(";")
print(some_string)

# Example of using .split() method to sptil a string based on a sequence of characters "and"
some_string = "Dogs and cats and whales and tigers are animals.".split("and")
print(some_string)

# Example of using .replace() method to replace certain part of a string
some_string = "True and False".replace("and", "or")
print(some_string)

# Example of using .find() method to search for a certain part of a string
some_string = "These are not the droids you are looking for.".find("droids")
print(some_string)

<div class="alert alert-success">
<b>TIP: </b>Note that .split() method will split the string based on spaces if no argument is provided.</div>

These are just a few string methods that are available to us in **`Python`**, you can see all of them in **`Python`**'s documentation.

### 2.3.2 Lists (Revisited)

Similarly to strings, lists also have some inbuild methods that allow us to perform data manipulation.

Some common list methods are defined in the table below:

| Method | Description |
| --- | --- |
| `.append()` | Add an element on the end of a list |
| `.extend()` | Add multiple iterative elements on ther end of a list |
| `.insert()` | Insert an element into list at a given index and shuffle other elements by an index |
| `.copy()` | Create a copy of a list |
| `.remove()` | Delete an element of a list |
| `.pop()` | Return a specific element from a list while simultaneously removing it from the list |
| `.index` | Return an index of an element in a list |

Below are some examples of how we can apply these methods to a list:

In [ ]:
# Example of using .append() method to add an element to the end of the list
some_list = ["Hello", 45, "world", 78.3]
some_list.append("new element")
print(some_list)

# Example of using .extend() method to add multiple elements to the list
some_list = ["Hello", 45, "world", 78.3]
some_list.extend(["new", "elements"])
print(some_list)

# Example of using .insert() method to add an element to the list at the predifeined index
some_list = ["Hello", 45, "world", 78.3]
some_list.insert(2, "new element")
print(some_list)

# Example of using .copy() method
some_list = ["Hello", 45, "world", 78.3]
new_list = some_list.copy()
print(some_list)

# Example of using .remove() method to delete an element of the list
some_list = ["Hello", 45, "world", 78.3]
some_list.remove("Hello")
print(some_list)

# Example of using .pop()
some_list = ["Hello", 45, "world", 78.3]
item = some_list.pop(2)
print(some_list, "\t", item)

# Example of using .index method to get an index of an element in the list
some_list = ["Hello", 45, "world", 78.3]
print(some_list.index("world"))

## 2.4 Object Oriented Programming: Exercises

<div class="alert alert-warning">
<b>EXERCISE (1)</b>
<br>

From the first lecture you have seen that the present value of a coupon bond is given by the equatioon:
$$PV = c[\frac{1}{r}-\frac{1}{r(1+r)^{n}}]+\frac{P}{(1+r)^{n}},$$
where <b>P</b> is the principal, <b>c</b> is the coupon, <b>r</b> is the discount rate, and <b>n</b> is the number of time periods.

Write a class <b>CouponBond</b> that takes these four arguments as instance arguments and write a method called <b>present_value</b> that computes the present value of the coupon bond.

Optionally, implement a method that would return <b>n</b> when you use the function <b>len()</b> on the instance of the bond.
</div>

In [ ]:
# Solution

# 3. Data Structures: Pandas

**`Pandas`** is a package that allows us to work with data leveraging the speed of **`C`** and **`NumPy`**.

Inside **`Pandas`** there are two commonly used data structures:

- `Series` is a one-dimensional array-like object containing an array of data (of any **`NumPy`** data type) and an assocciated array of data labels, called an `index`.
- `DataFrame` is a tabular, spreadsheet-like data structure that containing an ordered collection of columns each of which can be a different data type (e.g., numeric, string, boolean).

## 3.1 Series

A `Series` is constructed using a `Series` keyword, but it requires us to import it from **`Pandas`**.

In [ ]:
series = pd.Series([1, 2, 3, 4])
print(series)

We can also provide an index to Series to label our data using the `index` keyword:

In [ ]:
import pandas as pd
series = pd.Series([1, 2, 3, 4], index=["a", "b", "c", "d"])
print(series)

You can get the array representation and index of the Series via `.value` and `.index` attributes:

In [ ]:
print(series.values)
print(series.index)

Compared with a regular **`NumPy`** array, you can use values in the index when selecting single values or a set of values:

In [ ]:
print(series['a'])
series['d'] = 6
series[['c', 'a', 'd']]

We can perform filtering on `Series`. To do this we need to provovide an array of boolean values as its index.

In order to obtain an array of booleans that satisfy a condition we can use Series inside the conditional statement:

In [ ]:
print(series)
print(series>1)

Then we can use this conditional statement to filter the `Series`, as only the row where `True` is returned will be visible:

In [ ]:
print(series)
print(series[series > 1])

We can also perform **`NumPy`** operations on the series:

In [ ]:
print(series*2)
np.exp(series)

Another way to think about a `Series` is as a fixed-length, ordered dict, as it is a mapping of index values to data values. 

It can be substituted into many functions that expect a dictionary:

In [ ]:
print('b' in series)
print('e' in series)

Should you have data contained in a dictionary, you can create a `Series` from it by passing the dict:

In [6]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
series = pd.Series(sdata)
print(series)

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

When only passing a dictionary, the index in the resulting `Series` will have the dictionary’s keys in sorted order.

In [7]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
series = pd.Series(sdata, index=states)
print(series)

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In this example, 3 values found in `sdata` were placed in the appropriate locations, but since no value for 'California' was found, it appears as `NaN` (*not a number*) which is considered in **`Pandas`** to mark missing or *NA* values. We will use the terms “missing” or “NA” to refer to missing data. 

The `.isnull()` and `.notnull()` methods in **`Pandas`** should be used to detect missing data:

In [8]:
pd.isnull(series)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

`Series` also has these as instance methods:

In [9]:
series.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

We can perform operations between multiple `Series`:

In [10]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']

series_1 = pd.Series(sdata)
series_2 = pd.Series(sdata, index=states)

print(series_1+series_2)

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

Also, we can assign names to the `Series` and its index:

In [ ]:
series_1.name = "Population"
series_1.index.name = "State"
print(series_1)

A `Series` index can be altered in place by assignment:

In [11]:
series = pd.Series([4, 7, -5, 3])
print(series)
series.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(series)

0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

## 3.2 DataFrames

The `DataFrame` has both a row and column **index**; it can be thought of as a dict of `Series` (one for all sharing the same index). Compared with other such DataFrame-like structures you may have used before (like R’s data.frame), row-oriented and column-oriented operations in `DataFrame` are treated roughly symmetrically.

Under the hood, the data is stored as one or more two-dimensional blocks rather than a list, dictionary, or some other collection of one-dimensional arrays. The exact details of `DataFrame`’s internals are far outside the scope of this course.

There are numerous ways to construct a `DataFrame`, though one of the most common is from a dictionary of equal-length lists or **`NumPy`** arrays:

In [12]:
data = {'State': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'Year': [2000, 2001, 2002, 2001, 2002],
        'Population': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)

The resulting `DataFrame` will have its index assigned automatically as with `Series`, and the columns are placed in sorted order:

In [13]:
df

    State  Year  Population
0    Ohio  2000         1.5
1    Ohio  2001         1.7
2    Ohio  2002         3.6
3  Nevada  2001         2.4
4  Nevada  2002         2.9

If you specify a sequence of columns, the `DataFrame’s` columns will be exactly what you pass:

In [14]:
df = pd.DataFrame(data, columns=['Year', 'State', 'Population'])
df

   Year   State  Population
0  2000    Ohio         1.5
1  2001    Ohio         1.7
2  2002    Ohio         3.6
3  2001  Nevada         2.4
4  2002  Nevada         2.9

As with `Series`, if you pass a column that isn’t contained in data, it will appear with `NaN` values in the result:

In [16]:
df_2 = pd.DataFrame(data, columns=['Year', 'State', 'Population', 'Debt'],
                         index=['one', 'two', 'three', 'four', 'five'])
print(df_2.columns)
df_2

Index(['Year', 'State', 'Population', 'Debt'], dtype='object')

       Year   State  Population Debt
one    2000    Ohio         1.5  NaN
two    2001    Ohio         1.7  NaN
three  2002    Ohio         3.6  NaN
four   2001  Nevada         2.4  NaN
five   2002  Nevada         2.9  NaN

A column in a `DataFrame` can be retrieved as a `Series` either by dictionary-like notation or by attribute:

In [17]:
df_2 = pd.DataFrame(data, columns=['Year', 'State', 'Population', 'Debt'],
                         index=['one', 'two', 'three', 'four', 'five'])
print(df_2.columns)
df_2

Index(['Year', 'State', 'Population', 'Debt'], dtype='object')

       Year   State  Population Debt
one    2000    Ohio         1.5  NaN
two    2001    Ohio         1.7  NaN
three  2002    Ohio         3.6  NaN
four   2001  Nevada         2.4  NaN
five   2002  Nevada         2.9  NaN

Note that the returned `Series` have the same index as the `DataFrame`, and their name attribute has been appropriately set.

In [18]:
df_2.Year

one      2000
two      2001
three    2002
four     2001
five     2002
Name: Year, dtype: int64

Rows can also be retrieved by position or name by a couple of methods, such as the `.loc` indexing field (much more on this later):

In [19]:
df_2.loc['three']

Year          2002
State         Ohio
Population     3.6
Debt           NaN
Name: three, dtype: object

Columns can be modified by assignment. 

For example, the empty `Debt` column could be assigned a scalar value or an array of values:

In [20]:
df_2['Debt'] = 16.5
df_2

       Year   State  Population  Debt
one    2000    Ohio         1.5  16.5
two    2001    Ohio         1.7  16.5
three  2002    Ohio         3.6  16.5
four   2001  Nevada         2.4  16.5
five   2002  Nevada         2.9  16.5

In [21]:
df_2['Debt'] = np.arange(5.)
df_2

NameError: name 'np' is not defined

When assigning lists or arrays to a column, the value’s length must match the length of the `DataFrame`. 

If you assign a `Series`, it will be instead conformed exactly to the `DataFrame’s` index, inserting missing values in any holes:

In [22]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
df_2['Debt'] = val
df_2

       Year   State  Population  Debt
one    2000    Ohio         1.5   NaN
two    2001    Ohio         1.7  -1.2
three  2002    Ohio         3.6   NaN
four   2001  Nevada         2.4  -1.5
five   2002  Nevada         2.9  -1.7

Assigning a column that doesn’t exist will create a new column. The `del` keyword will delete columns as with a dictinaries.

In [23]:
df_2['Eastern'] = df_2.State == 'Ohio'
df_2

       Year   State  Population  Debt  Eastern
one    2000    Ohio         1.5   NaN     True
two    2001    Ohio         1.7  -1.2     True
three  2002    Ohio         3.6   NaN     True
four   2001  Nevada         2.4  -1.5    False
five   2002  Nevada         2.9  -1.7    False

In [ ]:
df_2['Eastern'] = df_2.State == 'Ohio'
del df_2['Eastern']
print(df_2.columns)
df_2

<div class="alert alert-danger">
<b>WARNING: </b> DataFrames and Views

The column returned when indexing a DataFrame is a view on the underlying data, not a copy. Thus, any in-place modifications to the Series will be reflected in the DataFrame. The column can be explicitly copied using the .copy() method.
</div>

Another common form of data is a nested dictionary of dictionaries format:

In [24]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
         'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
pop

{'Nevada': {2001: 2.4, 2002: 2.9}, 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

If passed to `DataFrame`, it will interpret the outer dictionary keys as the columns and the inner keys as the row indices:

In [25]:
df_3 = pd.DataFrame(pop)
df_3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

And similarilty to **`NumPy`** you can always transpose the result:

In [26]:
df_3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

The keys in the inner dictionaries are unioned and sorted to form the index in the result. This isn’t true if an explicit index is specified:

In [27]:
pd.DataFrame(pop, index=[2002, 2001, 2003])

      Nevada  Ohio
2002     2.9   3.6
2001     2.4   1.7
2003     NaN   NaN

Dictionaries of `Series` are treated much in the same way:

In [28]:
pdata = {'Ohio': df_3['Ohio'][:-1],'Nevada': df_3['Nevada'][:2]}
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

If a `DataFrame` index and columns have their name attributes set, these will also be displayed:

In [29]:
df_3.index.name = 'Year'; df_3.columns.name = 'State'
df_3

State  Nevada  Ohio
Year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

Like `Series`, the `.values` attribute returns the data contained in the `DataFrame` as a 2D `ndarray`:

In [30]:
df_3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

If the `DataFrame` columns are different `dtypes`, the `dtype` of the values array will be chosen to accomodate all of the columns:

In [31]:
df_3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

Possible data inputs to `DataFrame` constructor


|**Type**   |  **Notes**  |
|:---| :---|
| 2D `ndarray` |  A matrix of data, passing optional row and column labels|
| Dictionary of arrays, lists, or tuples | Each sequence becomes a column in the `DataFrame`. All sequences must be the same length. |
| **`NumPy`** structured/record array  | Treated as the “dict of arrays” case |
| DDictionary of `Series` | Each value becomes a column. Indexes from each Series are unioned together to form the result’s row index if no explicit index is passed. |
| Dictionary of dictionaries |Each inner dict becomes a column. Keys are unioned to form the row index as in the “dict of Series” case.|
| List of dictionaries or `Series` | Each item becomes a row in the `DataFrame`. Union of dictionary keys or `Series` indexes become the `DataFrame` column labels |
| List of lists or tuples | Treated as the “2D `ndarray`” case |
| Another `DataFrame` | The `DataFrame` indexes are used unless different ones are passed |
| `NumPy MaskedArray` | Like the “2D `ndarray`” case except masked values become NA/missing in the `DataFrame` result |

## 3.3 Index Objects 

`Index objects` in **`Pandas`** are responsible for holding the axis labels and other metadata (like the axis name or names). 

Any array or other sequence of labels used when constructing a `Series` or `DataFrame` is internally converted to an `Index`:

In [ ]:
s = pd.Series(range(3), index=['a', 'b', 'c'])
print(s)
index = s.index
print(index)

In [ ]:
index[1:]

`Index` objects are immutable and thus can’t be modified by the user:

In [ ]:
index[1] = 'd'

Immutability is important so that `Index` objects can be safely shared among data structures:

In [ ]:
index = pd.Index(np.arange(3))
s_2 = pd.Series([1.5, -2.5, 0], index=index)
s_2.index is index

<div class="alert alert-success">
<b>TIP: </b> Index objects

You will not need to know much about Index objects, but they’re nonetheless an important part of pandas’s data model.
</div>


In addition to being array-like, an `Index` also functions as a fixed-size set:

In [ ]:
print(df_3)
print('Ohio' in df_3.index)
print(2003 in df_3.index)

Each `Index` has a number of methods and properties for set logic and answering other common questions about the data it contains.

`Index` methods and properties


|**Method**   |  **Description**  |
|:---| :---|
| `.append()` | Concatenate with additional `Index` objects, producing a new `Index` |
| `.diff()` |  Compute set difference as an `Index` |
| `.intersection()` | Compute set intersection |
| `.union()` | Compute set union |
| `.isin()` | Compute boolean array indicating whether each value is contained in the passed collection |
| `.delete()` | Compute new `Index` with element at index `i` deleted |
| `.drop()` | Compute new `Index` by deleting passed values |
| `.insert()* | Compute new `Index` by inserting element at index `i` |
| `.is_monotonic()` | Returns `True` if each element is greater than or equal to the previous element |
| `.is_unique()` | Returns `True` if the `Index` has no duplicate values |
| `.unique()` | Compute the array of unique values in the `Index` |

### 3.3.1 Index Objects: Exercises

<div class="alert alert-warning">
<b>EXERCISE (2):</b>

Use below data about the number of graduate students at UCL to create a data frame, called **df_grad**. Once the data frame is created please check if there are any missing values.
<p>
grad = {'2015-16': {'Male': 7980, 'Female': 12490},
        '2016-17': {'Male': 8090, 'Female': 13075},
        '2017-18': {'Male': 8410, 'Female': None}}
</p>
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (3):</b>

You must have realized that there is a missing value - please update that value with 13895.
</div>

In [ ]:
# Solution

<div class="alert alert-success">
<b>TIP: </b> SettingWithCopyWarning

The SettingWithCopyWarning was created to flag "chained assignment" operations. Please refer to this [link](https://stackoverflow.com/questions/20625582/how-to-deal-with-settingwithcopywarning-in-pandas) for detail explanation and see how you can aviod it.
</div>

<div class="alert alert-warning">
<b>EXERCISE (4):</b>

Please transpose the data frame and save it as **df_grad_new**.

Once that is done please add a new column called **Total** and populate it with the sum of values from columns **Female** and **Male**.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (5):</b>

Write the code that shows just one column of the data frame - **Total**.

</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (6):</b>

Write the code that checks if the string **2014-15** is in the index of **df_grad_new** data frame.
</div>

In [ ]:
# Solution

## 3.4 Essential Functionality

Now lets look at the fundamental mechanics of interacting with the data contained in a `Series` or `DataFrame`.

### 3.4.1 Reindexing

A critical method on `Pandas` objects is `.reindex()`, which means to create a new object with the data conformed to a new index. Consider a simple example from above:

In [32]:
s = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
s

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

Calling `.reindex()` on this `Series` rearranges the data according to the new index, introducing missing values if any index values were not already present:

In [33]:
s_2 = s.reindex(['a', 'b', 'c', 'd', 'e'])
s_2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [34]:
s.reindex(['a', 'b', 'c', 'd', 'e'], fill_value=0)

a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64

For ordered data like time series, it may be desirable to do some interpolation or filling of values when reindexing. The method option allows us to do this, using a method such as `.ffill()` which forward fills the values:

In [35]:
s_3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
s_3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

At this time, interpolation more sophisticated than forward- and backfilling would need to be applied after the fact.

`.reindex()`  **method (interpolation) options**


|**Argument**   |  **Description**  |
|:---| :---|
| `ffill` or `pad` | Fill (or carry) values forward |
| `bfill` or `backfill` | Fill (or carry) values backward |

With `DataFrame`, `.reindex()` can alter either the (row) index, columns, or both. 

When passed just a sequence, the rows are reindexed in the result:

In [ ]:
df = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
print(df)
df_2 = df.reindex(['a','b','c','d'])
df_2

The columns can be reindexed using the `columns` keyword:

In [ ]:
states = ['Texas', 'Utah', 'California']
df.reindex(columns=states)

Both can be reindexed in one shot, though interpolation will only apply row-wise (axis 0):

In [ ]:
df.reindex(index=['a','b','c','d'],columns=states).ffill()

`.reindex()`  **method arguments**


|**Argument**   |  **Description**  |
|:---| :---|
| `index` | New sequence to use as index. Can be `Index` instance or any other sequence-like **`Python`** data structure. An `Index` will be used exactly as is without any copying |
| `method` | Interpolation (fill) method |
| `fill_value` | Substitute value to use when introducing missing data by reindexing |
| `limit` | When forward- or backfilling, maximum size gap to fill |
| `level` | Match simple `Index` on level of `MultiIndex`, otherwise select subset of |
| `copy` | Do not copy underlying data if new index is equivalent to old index. `True` by default (i.e. always copy data). |

### 3.4.2 Dropping Entries from an Axis

Dropping one or more entries from an axis is easy if you have an index array or list without those entries. 

As that can require a bit of munging and set logic, the drop method will return a new object with the indicated value or values deleted from an axis:

In [37]:
import numpy as np
s = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
s_2 = s.drop('c')
print(s_2)
s.drop(['d','c'])

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

a    0.0
b    1.0
e    4.0
dtype: float64

With `DataFrame`, index values can be deleted from either axis:

In [38]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])

print(df.drop(['Colorado', 'Ohio']))
print(df.drop('two', axis=1))
df.drop(['two', 'four'], axis=1)

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

## 3.5 Indexing, Selection, and Filtering

`Series` indexing (`obj[...]`) works analogously to **`NumPy`** array indexing, except you can use the `Series` index values instead of only integers. Here are some examples of this:

In [39]:
s = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(s['b'])
print(s[1])
print(s[2:4])
s[['b','a','d']]

1.0
1.0
c    2.0
d    3.0
dtype: float64

C:\Users\lyakh\AppData\Local\Temp\ipykernel_20576\409223934.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])

b    1.0
a    0.0
d    3.0
dtype: float64

Slicing with labels behaves differently than normal **`Python`** slicing in that the endpoint is **inclusive**:

In [40]:
s['b':'c']

b    1.0
c    2.0
dtype: float64

Setting using these methods works just as you would expect:

In [41]:
s['b':'c'] = 5
s

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

As we’ve seen above, indexing into a `DataFrame` is for retrieving one or more columns either with a single value or sequence:

In [42]:
df = pd.DataFrame(np.arange(16).reshape((4, 4)),
                 index=['Ohio', 'Colorado', 'Utah', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [44]:
print(df['two'])
df[['three','one']]

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

Indexing like this has a few special cases. First selecting rows by slicing or a boolean array:

In [45]:
print(df[:2])
df[df['three'] > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

<div class="alert alert-danger">
<b>WARNING: </b> Pandas indexing

Pandas indexing might seem inconsistent to some readers, but this syntax practicality makes things a bit easier.

</div>

Another use case is in indexing with a boolean `DataFrame`, such as one produced by a scalar comparison:

In [46]:
df < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [47]:
df[df < 5] = 0
df

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

So there are many ways to select and rearrange the data contained in a **`Pandas`** object. 

For `DataFrame`, there is a short summary of many of them below. You have a number of additional options when working with hierarchical indexes as we’ll later see.

**Indexing options with DataFrame**


|**Type**   |  **Notes**  |
|:---| :---|
| `obj[val]` | Select single column or sequence of columns from the `DataFrame`. Special case conveniences: boolean array (filter rows), slice (slice rows), or boolean `DataFrame` (set values based on some criterion). |
| `obj.ix[val]` | Selects single row of subset of rows from the `DataFrame`. |
| `obj.ix[:,va;]` | Selects single column of subset of columns. |
| `obj.ix[val1, val2]` | Select both rows and columns. |
| `.reindex()` | Conform one or more axes to new indexes. |
| `.xs()` | Select single row or column as a Series by label. |
| `.icol()`, `.irow()` | Select single column or row, respectively, as a `Series` by integer location. |
| `.get_value()`, `.set_value()` | Select single value by row and column label. |

### 3.5.1 Arithmetic and Data Alignment

One of the most important `Pandas` features is the behavior of arithmetic between objects with different indexes. When adding together objects, if any index pairs are not the same, the respective index in the result will be the union of the index pairs. Let’s look at a simple example:

In [48]:
s_1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s_2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])
print(s_1)
print(s_2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

Adding these together yields:

In [49]:
s_1 + s_2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

The internal data alignment introduces `NA` values in the indices that don’t overlap. Missing values propagate in arithmetic computations.

In the case of `DataFrame`, alignment is performed on both the rows and the columns:

In [50]:
df_1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), index=['Ohio', 'Texas', 'Colorado'])
df_2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df_1)
print(df_2)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

Adding these together returns a `DataFrame` whose index and columns are the unions of the ones in each `DataFrame`:

In [51]:
df_1 + df_2

            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

### Arithmetic Methods with Fill Values

In arithmetic operations between differently-indexed objects, you might want to fill with a special value, like 0, when an axis label is found in one object but not the other:

In [52]:
df_1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))
df_2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))
print(df_1)
print(df_2)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

Adding these together results in NA values (`NaN`) in the locations that don’t overlap:

In [53]:
df_1 + df_2

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

Using the add method on `df_1`, we can pass `df_2` and an argument to `fill_value`:

In [54]:
df_1.add(df_2, fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

Relatedly, when reindexing a `Series` or `DataFrame`, you can also specify a different fill value:

In [55]:
df_1.reindex(columns=df_2.columns, fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

**Flexible arithmetic methods**

|**Method**   |  **Description**  |
|:---| :---|
| `.add()` | Method for addition (+) |
| `.sub()` | Method for subtraction (-) |
| `.div()` | Method for division (/) |
| `.mul()` | Method for multiplication (*) |

### Operations Between DataFrame and Series

As with **`NumPy`** arrays, arithmetic between `DataFrame` and `Series` is well-defined. 

First, as a motivating example, consider the difference between a 2D array and one of its rows:

In [ ]:
arr = np.arange(12.).reshape((3, 4))
arr

In [ ]:
arr[0]

In [ ]:
arr - arr[0]

This is referred to as **broadcasting** but we won't go into detail her. 

Operations between a `DataFrame` and a `Series` are similar:

In [ ]:
df = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = df.iloc[0]

In [ ]:
print(df)
series

By default, arithmetic between `DataFrame` and `Series` matches the index of the `Series` on the `DataFrame` columns, broadcasting down the rows:

In [ ]:
df - series

If an index value is not found in either the `DataFrame` columns or the `Series` index, the objects will be reindexed to form the union:

In [ ]:
series_2 = pd.Series(range(3), index=['b', 'e', 'f'])
df + series_2

If you want to instead broadcast over the columns, matching on the rows, you have to use one of the arithmetic methods. For example:

In [ ]:
series_3 = df['d']
print(df)
series_3

The axis number that you pass is the axis to match on. In this case we mean to match on the `DataFrame` row index and broadcast across.

In [ ]:
df.sub(series_3, axis=0)

### 3.5.2 Function Application and Mapping

**`NumPy`** ufuncs (element-wise array methods) work fine with `Pandas` objects:

In [56]:
df = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df)
np.abs(df)

               b         d         e
Utah    1.386021 -1.062015 -0.076877
Ohio   -0.200232  0.230156  0.172372
Texas  -0.965643 -1.416986 -1.853804
Oregon -0.587332 -0.563695  0.452704

               b         d         e
Utah    1.386021  1.062015  0.076877
Ohio    0.200232  0.230156  0.172372
Texas   0.965643  1.416986  1.853804
Oregon  0.587332  0.563695  0.452704

Another frequent operation is applying a function on 1D arrays to each column or row. `DataFrame` apply method does exactly this:

In [57]:
# Don't worry about Lambda functions, we will return to this in following weeks
f = lambda x: x.max() - x.min()
print(df.apply(f))
df.apply(f, axis=1)

b    2.351664
d    1.647143
e    2.306508
dtype: float64

Utah      2.448035
Ohio      0.430388
Texas     0.888160
Oregon    1.040036
dtype: float64


<div class="alert alert-success">

TIP: Dataframe methods

Many of the most common array statistics (like sum and mean) are DataFrame methods,
so using the .apply() method is not necessary. Over time, and with practise, you will memorize those than you use most frequently.
</div>

The function passed to apply need not return a scalar value, it can also return a `Series`
with multiple values:

In [58]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

df.apply(f)

            b         d         e
min -0.965643 -1.416986 -1.853804
max  1.386021  0.230156  0.452704

Element-wise Python functions can be used, too. Suppose you wanted to compute a formatted string from each floating point value in `df`. You can do this with `.applymap()`:

In [59]:
format = lambda x: '%.2f' % x
df.applymap(format)

C:\Users\lyakh\AppData\Local\Temp\ipykernel_20576\1080337925.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(format)

            b      d      e
Utah     1.39  -1.06  -0.08
Ohio    -0.20   0.23   0.17
Texas   -0.97  -1.42  -1.85
Oregon  -0.59  -0.56   0.45

The reason for the name `.applymap()` is that `Series` has a map method for applying an element-wise function:

In [ ]:
df['e'].map(format)

### 3.5.3 Sorting and Ranking

Sorting a data set by some criterion is another important built-in operation. To sort lexicographically by row or column index, use the `.sort_index()` method, which returns a new, sorted object:

In [60]:
s = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
s.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

With a `DataFrame`, you can sort by index on either axis:

In [61]:
df = pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'], columns=['d', 'a', 'b', 'c'])
print(df.sort_index())
df.sort_index(axis=1)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

The data is *sorted* in ascending order by default, but can be sorted in descending order, too:

In [62]:
df.sort_index(axis=1, ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

To sort a `Series` by its values, use its `.sort_values()` method:

In [63]:
s = pd.Series([4, 7, -3, 2])
s.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64


Any missing values are sorted to the end of the `Series` by default:

In [64]:
s = pd.Series([4,np.nan,7, np.nan, -3, 2])
s.sort_values()

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

On `DataFrame`, you may want to sort by the values in one or more columns. To do so, pass one or more column names to the by option:

In [65]:
df = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print(df)
df.sort_values(by='b')

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

To sort by multiple columns, pass a list of names:

In [66]:
df.sort_values(by=['a', 'b'])

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

**Ranking** is closely related to sorting, assigning ranks from one through the number of valid data points in an array. It is similar to the indirect sort indices produced by `numpy.argsort`, except that ties are broken according to a rule.

The `.rank()` methods for `Series` and `DataFrame` are the place to look; by default `.rank()` breaks ties by assigning each group the mean rank:

In [67]:
s = pd.Series([7, -5, 7, 4, 2, 0, 4])
s.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

Ranks can also be assigned according to the order they’re observed in the data:

In [68]:
s.rank(method='first')

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

Naturally, you can rank in descending order, too:

In [69]:
s.rank(ascending=False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

`DataFrame` can compute ranks over the rows or the columns:

In [ ]:
df = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
print(df)
df.rank(axis=1)

**Tie-breaking methods with** `.rank()`



|**Method**   |  **Description**  |
|:---| :---|
| `average` | Default: assign the average rank to each entry in the equal group. |
| `max` | Use the maximum rank for the whole group. |
| `min` | Use the minimum rank for the whole group. |
| `first` | Assign ranks in the order the values appear in the data. |

### 3.5.4 Axis Indexes with Duplicate Values

Up until now all of the examples we’ve seen have had unique axis labels (index values). 

While many **`Pandas`** functions (like `.reindex()`) require that the labels be unique, it’s not mandatory. 

Let’s consider a small Series with duplicate indices:

In [70]:
s = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
s

a    0
a    1
b    2
b    3
c    4
dtype: int64

The index’s `.is_unique()` attribute can tell you whether its values are unique or not:

In [71]:
s.index.is_unique

False

Data selection is one of the main things that behaves differently with duplicates. 

Indexing a value with multiple entries returns a `Series` while single entries return a scalar value:

In [72]:
print(s['a'])
s['c']

a    0
a    1
dtype: int64

4

The same logic extends to indexing rows in a `DataFrame`:

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
print(df)
df.loc['b']

### 3.5.5 Indexing, Selection, and Filtering: Exercises

<div class="alert alert-warning">
<b>EXERCISE (7): </b> 

Write a code that creates two series one with numbers from 0 to 7 and the other one with numbers from 7 to 0. 

Use the following letters for indexing **index=['a','b', 'c', 'd', 'x', 'f', 'g', 'h']**.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (8): </b>

Create a dataframe with the index from excersise 6 and with columns obj1 and obj2 that contain values from the series.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (9): </b> 

Replace x in the index with e.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (10): </b>

Sort the dataframe by index from h to a.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (11): </b>

<p> Write a code that shows the the following part of the dataframe.</p>
  <p><code>d &nbsp;   4</p>
<p>e  &nbsp;  3</code></p>
</div>

In [ ]:
# Solution

## 3.6 Computing Descriptive Statistics

**`Pandas`** objects are equipped with a set of common mathematical and statistical methods. Most of these fall into the category of reductions or summary statistics, methods that extract a single value (like the `.sum()` or `.mean()`) from a `Series` or a `Series` of values from the rows or columns of a `DataFrame`.

Compared with the equivalent methods of vanilla **`NumPy`** arrays, they are all built from the ground up to exclude missing data. Consider a small DataFrame:

In [73]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

Calling `.sum()` method returns a `Series` containing column sums:

In [74]:
df.sum()

one    9.25
two   -5.80
dtype: float64

Passing `axis=1` sums over the rows instead:

In [75]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

NA values are excluded unless the entire slice (row or column in this case) is NA. This can be disabled using the `skipna` argument:

In [76]:
df.mean(axis=1, skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

**Arguments for reduction methods**

|**Argument**   |  **Description**  |
|:---| :---|
| `axis` | Axis to reduce over. 0 for `DataFrame`’s rows and 1 for columns. |
| `skipna` | Exclude missing values, `True` by default. |
| `level` | Reduce grouped by level if the axis is hierarchically-indexed (`MultiIndex`).|

Some methods, like `.idxmin()` and `.idxmax()`, return indirect statistics like the index value where the minimum or maximum values are attained:

In [77]:
df.idxmax()

one    b
two    d
dtype: object

Other methods are **accumulations**:

In [78]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

Another type of method is neither a reduction nor an accumulation. `.describe()` is one such example, producing multiple summary statistics in one shot:

In [79]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

On non-numeric data, `.describe()` produces alternate summary statistics:

In [80]:
s = pd.Series(['a', 'a', 'b', 'c'] * 4)
s.describe()

count     16
unique     3
top        a
freq       8
dtype: object

**Descriptive and summary statistics**



|**Method**   |  **Description**  |
|:---| :---|
| **`count`** | Number of non-NA values |
| **`describe`** | Compute set of summary statistics for **`Series`** or each **`DataFrame`** column |
| **`min`**, **`max`** | Compute minimum and maximum values |
| **`argmin`**, **`argmax`** | Compute index locations (integers) at which minimum or maximum value obtained, respectively |
| **`idxmin`**, **`idxmin`** | Compute index values at which minimum or maximum value obtained, respectively |
| **`quartile`** | Compute sample quantile ranging from 0 to 1 |
| **`sum`** | Sum of values |
| **`mean`** | Mean of values |
| **`median`** | Arithmetic median (50% quantile) of values |
| **`mad`** | Mean absolute deviation from mean value |
| **`var`** | Sample variance of values |
| **`std`** | Sample standard deviation of values |
| **`skew`** | Sample skewness (3rd moment) of values |
| **`kurt`** | Sample kurtosis (4th moment) of values |
| **`cumsum`** | Cumulative sum of values |
| **`cummin`**, **`cummax`** | Cumulative minimum or maximum of values, respectively |
| **`cumprod`** | Cumulative product of values |
| **`diff`** | Compute 1st arithmetic difference (useful for time series) |
| **`pct_change`** | Compute percent changes |

### 3.6.1 Correlation and Covariance

Some summary statistics, like correlation and covariance, are computed from pairs of arguments. 

Let’s consider some `DataFrames` of stock prices and volumes obtained from **`Yahoo! Finance`**.

In [91]:
import yfinance as yf
import datetime

start = datetime.datetime(2000, 1, 1)
end = datetime.datetime(2010, 1, 1)

all_data = {}

for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOGL']: 
    try:
        all_data[ticker] = yf.download(ticker, start, end)
    except:
        print("Can't find ", ticker)

price_df = pd.DataFrame({tic: data['Adj Close'] for tic, data in all_data.items()})
volume_df = pd.DataFrame({tic: data['Volume'] for tic, data in all_data.items()})

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [83]:
price_df

                AAPL        IBM       MSFT      GOOGL
Date
2000-01-03  0.848323  61.718269  36.205605        NaN
2000-01-04  0.776801  59.623287  34.982574        NaN
2000-01-05  0.788168  61.718269  35.351425        NaN
2000-01-06  0.719961  60.654140  34.167213        NaN
2000-01-07  0.754065  60.388119  34.613720        NaN
...              ...        ...        ...        ...
2009-12-24  6.336874  77.233833  23.560564  15.477477
2009-12-28  6.414780  78.263054  23.689770  15.587337
2009-12-29  6.338691  77.990967  23.856977  15.500501
2009-12-30  6.415689  78.416832  23.530163  15.583834
2009-12-31  6.388103  77.429016  23.165348  15.515015

[2515 rows x 4 columns]

In [84]:
volume_df

                 AAPL       IBM      MSFT       GOOGL
Date
2000-01-03  535796800  10823694  53228400         NaN
2000-01-04  512377600   8606279  54119000         NaN
2000-01-05  778321600  13318927  64059600         NaN
2000-01-06  767972800   8338607  54976600         NaN
2000-01-07  460734400  12402108  62013600         NaN
...               ...       ...       ...         ...
2009-12-24  500889200   4461295  11083900  34313652.0
2009-12-28  644565600   6067218  25384000  67848084.0
2009-12-29  445205600   4376673  29716200  56935008.0
2009-12-30  412084400   4044882  42006200  58565376.0
2009-12-31  352410800   4417676  31929700  48743208.0

[2515 rows x 4 columns]

We can now compute the percentage changes of the prices:

In [85]:
returns = price_df.pct_change()
returns.tail()

C:\Users\lyakh\AppData\Local\Temp\ipykernel_20576\2830880232.py:1: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Call ffill before calling pct_change to retain current behavior and silence this warning.
  returns = price_df.pct_change()

                AAPL       IBM      MSFT     GOOGL
Date
2009-12-24  0.034340  0.004385  0.002587  0.011117
2009-12-28  0.012294  0.013326  0.005484  0.007098
2009-12-29 -0.011861 -0.003477  0.007058 -0.005571
2009-12-30  0.012147  0.005460 -0.013699  0.005376
2009-12-31 -0.004300 -0.012597 -0.015504 -0.004416

The `.corr()` method of `Series` computes the correlation of the overlapping, non-NA, aligned-by-index values in two `Series`. Relatedly, `.cov()` computes the covariance:

In [86]:
print(returns.AAPL.corr(returns.IBM))
print(returns.AAPL.cov(returns.IBM))

0.4100110709973154
0.0002518455629996263

The `.corr()` and `.cov()` methods, on the other hand, return a full correlation or covariance matrix as a `DataFrame`, respectively:

In [87]:
returns.corr()

           AAPL       IBM      MSFT     GOOGL
AAPL   1.000000  0.410011  0.424305  0.470676
IBM    0.410011  1.000000  0.495980  0.390689
MSFT   0.424305  0.495980  1.000000  0.443587
GOOGL  0.470676  0.390689  0.443587  1.000000

In [88]:
returns.cov()

           AAPL       IBM      MSFT     GOOGL
AAPL   0.001027  0.000252  0.000309  0.000303
IBM    0.000252  0.000367  0.000216  0.000142
MSFT   0.000309  0.000216  0.000516  0.000205
GOOGL  0.000303  0.000142  0.000205  0.000580

Using the `.corrwith()` method, you can compute pairwise correlations between a `DataFrame` columns or rows with another `Series` or `DataFrame`. Passing a `Series` returns a `Series` with the correlation value computed for each column:

In [89]:
returns.corrwith(returns.IBM)

AAPL     0.410011
IBM      1.000000
MSFT     0.495980
GOOGL    0.390689
dtype: float64

Passing a `DataFrame` computes the correlations of matching column names. Here we compute correlations of percent changes with volume:

In [90]:
returns.corrwith(volume_df)

AAPL    -0.057549
IBM     -0.007892
MSFT    -0.014245
GOOGL    0.062648
dtype: float64

### 3.6.2 Unique Values, Value Counts, and Membership

Another class of related methods extracts information about the values contained in a one-dimensional `Series`. To illustrate these, consider this example:

In [92]:
s = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
s

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

The first function is `.unique()`, which gives you an array of the unique values in a `Series`:

In [93]:
uniques = s.unique()
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

The unique values are not necessarily returned in sorted order, but could be sorted after the fact if needed (`uniques.sort()`). Relatedly, `.value_counts()` computes a `Series` containing value frequencies:

In [94]:
s.value_counts()

c    3
a    3
b    2
d    1
Name: count, dtype: int64

The `Series` is sorted by value in descending order as a convenience. `.value_counts()` is also available as a top-level `Pandas` method that can be used with any array or sequence:

In [ ]:
pd.value_counts(s.values, sort=False)

Lastly, `.isin()` is responsible for vectorized set membership and can be very useful in filtering a data set down to a subset of values in a `Series` or column in a `DataFrame`:

In [ ]:
mask = s.isin(['b', 'c'])
print(mask)
s[mask]

**Unique, value counts, and binning methods**


|**Method**   |  **Description**  |
|:---| :---|
| `.isin()` | Compute boolean array indicating whether each `Series` value is contained in the passed sequence of values. |
| `.unique()` | Compute array of unique values in a `Series`, returned in the order observed. |
| `.value_counts()` | Return a `Series` containing unique values as its index and frequencies as its values, ordered count in descending order. |

In some cases, you may want to compute a histogram on multiple related columns in a `DataFrame`. Here’s an example:

In [ ]:
df = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4], 
                  'Qu2': [2, 3, 1, 2, 3],
                  'Qu3': [1, 5, 2, 4, 4]})
df

Passing `pandas.value_counts()` to this `DataFrame` `.apply()` method gives:

In [ ]:
result = df.apply(pd.value_counts).fillna(0)
result

## 3.7 Handling Missing Data

Missing data is common in most data analysis applications. `Pandas` was designed to make working with missing data as painless as possible. 

For example, all of the descriptive statistics on `Pandas` objects exclude missing data as we’ve seen earlier.

`Pandas` uses the floating point value `NaN` (*Not a Number*) to represent missing data in both floating as well as in non-floating point arrays. It is just used as a *sentinel* that can be easily detected:

In [95]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print(string_data)
string_data.isnull()

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

0    False
1    False
2     True
3    False
dtype: bool

The built-in **`Python`** `None` value is also treated as NA in object arrays:

In [96]:
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

**NA handling methods**


|**Method**   |  **Description**  |
|:---| :---|
| `.dropna()` | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate. |
| `.fillna()` | Fill in missing data with some value or using an interpolation method such as `ffill` or `bfill` |
| `.isnull()` | Return like-type object containing boolean values indicating which values are missing / NA. |
| `.notnull()` | Negation of `.isnull()` |

### 3.7.1 Filtering Out Missing Data

There are a number of options for filtering out missing data. While doing it by hand is always an option, `.dropna()` can be very helpful. 

On a `Series`, it returns the `Series` with only the non-null data and index values:

In [97]:
from numpy import nan as NA

data = pd.Series([1, NA, 3.5, NA, 7])
print(data)
data.dropna()

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

0    1.0
2    3.5
4    7.0
dtype: float64

You could have computed this yourself by boolean indexing:

In [98]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

However, with `DataFrame` objects, these are a bit more complex. You may want to drop rows or columns which are all NA or just those containing any NAs. `.dropna()` by default drops any row containing a missing value:

In [99]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
print(data)
cleaned

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

     0    1    2
0  1.0  6.5  3.0

Passing `how='all'` will only drop rows that are all NA:

In [100]:
data.dropna(how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

Dropping columns in the same way is only a matter of passing `axis=1`:

In [101]:
data[4] = NA
print(data)
data.dropna(axis=1, how='all')

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

A related way to filter out `DataFrame` rows tends to concern time series data. Suppose you want to keep only rows containing a certain number of observations. You can indicate this with the thresh argument:

In [102]:
df = pd.DataFrame(np.random.randn(7, 3))
df.loc[:4,1] = NA
df.loc[:2,2] = NA
print(df)
df.dropna(thresh=3)

          0         1         2
0 -1.526349       NaN       NaN
1 -1.134056       NaN       NaN
2 -1.433427       NaN       NaN
3  1.220768       NaN -0.861145
4 -0.815340       NaN  1.366225
5  1.108415  0.317443 -1.904737
6  1.626797 -0.929064 -0.951223

          0         1         2
5  1.108415  0.317443 -1.904737
6  1.626797 -0.929064 -0.951223

### 3.7.2 Filling In Missing Data

Rather than filtering out missing data (and potentially discarding other data along with it), you may want to fill in the “holes” in any number of ways. 

For most purposes, the `.fillna()` method is the workhorse function to use. Calling `.fillna()` with a constant replaces missing values with that value:

In [103]:
df.fillna(0)

          0         1         2
0 -1.526349  0.000000  0.000000
1 -1.134056  0.000000  0.000000
2 -1.433427  0.000000  0.000000
3  1.220768  0.000000 -0.861145
4 -0.815340  0.000000  1.366225
5  1.108415  0.317443 -1.904737
6  1.626797 -0.929064 -0.951223

Calling `.fillna()` with a dict you can use a different fill value for each column:

In [105]:
df.fillna({1: 0.5, 2: -1})

          0         1         2
0 -1.526349  0.500000 -1.000000
1 -1.134056  0.500000 -1.000000
2 -1.433427  0.500000 -1.000000
3  1.220768  0.500000 -0.861145
4 -0.815340  0.500000  1.366225
5  1.108415  0.317443 -1.904737
6  1.626797 -0.929064 -0.951223

`.fillna()` returns a new object, but you can modify the existing object in place:

In [106]:
# Always returns a reference to the filled object
_ = df.fillna(0, inplace=True)

In [107]:
df

          0         1         2
0 -1.526349  0.000000  0.000000
1 -1.134056  0.000000  0.000000
2 -1.433427  0.000000  0.000000
3  1.220768  0.000000 -0.861145
4 -0.815340  0.000000  1.366225
5  1.108415  0.317443 -1.904737
6  1.626797 -0.929064 -0.951223

The same interpolation methods available for reindexing can be used with `.fillna()`:

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df.loc[2:, 1] = NA; df.loc[4:, 2] = NA
df

In [ ]:
df.fillna(method='ffill')

In [ ]:
df.fillna(method='ffill', limit=2)

With `.fillna()` you can do lots of other things with a little creativity. 

For example, you might pass the mean or median value of a `Series`:

In [ ]:
data = pd.Series([1., NA, 3.5, NA, 7])
data

`.fillna()` **method arguments**


|**Argument**   |  **Description**  |
|:---| :---|
| `value` | Scalar value or dict-like object to use to fill missing values |
| `method` | Interpolation, by default `ffill` if function called with no other arguments |
| `axis` | Axis to fill on, default `axis=0` |
| `inplace` | Modify the calling object without producing a copy |
| `limit` | For forward and backward filling, maximum number of consecutive periods to fill |

### 3.7.3 Handling Missing Data: Exercises

<div class="alert alert-warning">
<b>Exrecises (12-16)Intro:</b>

Create a dataframe called **df** using the below code:


data = {'name': ['Jack', np.nan, 'Anna', 'Michael', 'Vanessa', 'Andrew', 'Monica'], 
         'surname': ['Snow', np.nan, 'Scott', 'Jordna', 'Willis', 'Hughes', 'Dee'],        
         'age': [31, np.nan, 23, 26, 21, 28, 24],
         'sex': ['m', np.nan, 'f', 'm', 'f', 'm', 'f'], 
         'quiz1': [71, np.nan, np.nan, 65, 59, 61, 73],
         'quiz2': [85, np.nan, np.nan, 76, 68, 65, 80]}

<br>

df = pd.DataFrame(data, columns = ['name', 'surname', 'age', 'sex', 'quiz1', 'quiz2'])
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (12):</b>

Check if there are any missing values in the dataframe.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (13):</b>

Write a code to drop rows that have any missing values.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (14):</b>

Write a code to drop rows that have all values missing. Then replace the remaining missing values with the mean for the given column.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (15):</b>

Write a code to replace the missing values using backward filling method.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (16):</b>

Write a code to see which cells do **not** contain missing values.
</div>

In [ ]:
# Solution

## 3.8 Custom Data Import

The pandas package is also great at dealing with many of the issues you will encounter when importing data, such as:

 - Comments
 - Empty rows, columns, and missing values. 

Note that missing values are also commonly referred to as `NA` or `NaN`.

We can easily import files of mixed data types as DataFrames using the pandas functions 
- `.read_csv()`
- `.read_excel()`
- `.read_table()`

In [ ]:
# Import pandas as pd
import pandas as pd

# Assign the filename: file
file = './static/pima-indians-diabetes.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
df.head()

You can retrieve the corresponding numpy array using the attribute values from the `DataFrame`:

In [ ]:
# Build a numpy array from the DataFrame: data_array
data_array = df.values

# Print the datatype of data_array to the shell
print(type(data_array))

There are a number of arguments that `pd.read_csv()` takes: 

- `sep` is the **`Pandas`** version of `delim`
- `comment` takes characters that comments occur after in the file, which in this case is '#'. 
- `na_values` takes a list of strings to recognize as NA/NaN, in this case the string 'Nothing'.

In [ ]:
import matplotlib.pyplot as plt

# Assign filename: file
file = './static/titanic_corrupt.txt'

# Import file: data
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Print the head of the DataFrame
print(data.head())

# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('Count')
plt.show()

## 3.9 Combining and Merging Data Sets

Data contained in `Pandas` objects can be combined together in a number of built-in ways:

- `pandas.merge` connects rows in `DataFrames` based on one or more keys. This will be familiar to users of **SQL** or other relational databases, as it implements database join operations.
- `pandas.concat` concatenates or stacks together objects along an axis.
- `combine_first` instance method enables splicing together overlapping data to fill in missing values in one object with values from another.

We will use examples of this throughout the rest of the course.

### 3.9.1 Database-Style **`DataFrame`** Merges

**Merge** or **join** operations combine data sets by linking rows using one or more **keys**. These operations are central to relational databases. The merge function in **`Pandas`** is the main entry point for using these algorithms on your data. 

Let’s start with a simple example.

In [ ]:
df_1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df_2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})
print(df_1)
print(df_2)

This is an example of a **many-to-one** merge situation; the data in `df_1` has multiple rows labeled `a` and `b`, whereas `df_2` has only one row for each value in the key column. Calling merge with these objects we obtain:

In [ ]:
pd.merge(df_1, df_2)

Note that we didn’t specify which column to join on. If not specified, merge uses the overlapping column names as the **keys**. 

It is good practice to specify explicitly, though:

In [ ]:
pd.merge(df_1, df_2, on='key')

If the column names are different in each object, you can specify them separately:

In [ ]:
df_3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df_4 = pd.DataFrame({'rkey': ['a', 'b', 'd'], 'data2': range(3)})
print(df_3)
print(df_4)
pd.merge(df_3, df_4, left_on='lkey', right_on='rkey')

You probably noticed that the `c` and `d` values and associated data are missing from the result. By default merge does an **inner** join; the keys in the result are the *intersection*. 

Other possible options are **left**, **right**, and **outer**. 

The outer join takes the union of the keys, combining the effect of applying both left and right joins:

In [ ]:
pd.merge(df_1, df_2, how='outer')

**Many-to-many** merges have well-defined though not necessarily intuitive behavior:

In [ ]:
df_1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
df_2 = pd.DataFrame({'key': ['a', 'b', 'a', 'b', 'd'], 'data2': range(5)})
print(df_1)
df_2

In [ ]:
pd.merge(df_1, df_2, on='key', how='left')

*Many-to-many* joins form the Cartesian product of the rows. Since there were 3 `b` rows in the left `DataFrame` and 2 `b` rows in the right one, there are 6 `b` rows in the result.

The join method only affects the distinct key values appearing in the result:

In [ ]:
pd.merge(df_1, df_2, how='inner')

To merge with multiple keys, pass a list of column names:

In [ ]:
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'], 
                  'key2': ['one', 'two', 'one'],
                  'lval': [1, 2, 3]})
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'], 
                   'key2': ['one', 'one', 'one', 'two'],
                   'rval': [4, 5, 6, 7]})
print(left)
print(right)
pd.merge(left, right, on=['key1', 'key2'], how='outer')

<div class="alert alert-info">
<b>HINT:</b> Key combinations 

<p> To determine which key combinations will appear in the result depending on the choice of merge method, think of the multiple keys as forming an array of tuples to be used as a single join key (even though it’s not actually implemented that way).</p>

</div>


<br>
<div class="alert alert-danger">
<b>WARNING: </b> 

When joining columns-on-columns, the indexes on the passed DataFrame objects are discarded.

</div>

A last issue to consider in merge operations is the treatment of overlapping column names. While you can address the overlap manually (see the later section on renaming axis labels), merge has a suffixes option for specifying strings to append to overlapping names in the left and right `DataFrame` objects:

In [ ]:
pd.merge(left, right, on='key1')

In [ ]:
pd.merge(left, right, on='key1', suffixes=('_left', '_right'))

**`pandas.merge`** **function arguments**

| **Argumnet** | **Description** |
| --- | --- |
| `left` | `DataFrame` to be merged on the left side |
| `right` | `DataFrame` to be merged on the right side |
| `how` | One of `inner`, `outer`, `left` or `right`. `inner` by default |
| `on` | Column names to join on. Must be found in both `DataFrame` objects. If not specified and no other join keys given, will use the intersection of the column names in left and right as the join keys |
| `left_on` | Columns in left `DataFrame` to use as join keys |
| `right_on` | Analogous to `left_on` for left `DataFrame` |
| `left_index` | Use row index in `left` as its join key (or keys, if a MultiIndex) |
| `right_index` | Analogous to `left_index` |
| `sort` | Sort merged data lexicographically by join keys; `True` by default. Disable to get better performance in some cases on large datasets |
| `suffixes` | Tuple of string values to append to column names in case of overlap; defaults to (`_x`, `_y`). For example, if 'data' in both `DataFrame` objects, would appear as `data_x` and `data_y` in result |
| `copy` | If `False`, avoid copying data into resulting data structure in some exceptional cases. By default always copies |

### 3.9.2 Merging on `Index`

In some cases, the merge key or keys in a `DataFrame` will be found in its index. 

In this case, you can pass `left_index=True` or `right_index=True` (or both) to indicate that the index should be used as the merge key:

In [ ]:
left_1 = pd.DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'], 'value': range(6)})
right_1 = pd.DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
print(left_1)
right_1

In [ ]:
pd.merge(left_1, right_1, left_on='key', right_index=True)

Since the default merge method is to intersect the join keys, you can instead form the union of them with an outer join:

In [ ]:
pd.merge(left_1, right_1, left_on='key', right_index=True, how='outer')

With hierarchically-indexed data, things are a bit more complicated:

In [ ]:
lefth = pd.DataFrame({'key1': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
                   'key2': [2000, 2001, 2002, 2001, 2002],
                   'data': np.arange(5.)})
righth = pd.DataFrame(np.arange(12).reshape((6, 2)), 
                   index=[['Nevada', 'Nevada', 'Ohio', 'Ohio', 'Ohio', 'Ohio'],
                          [2001, 2000, 2000, 2000, 2001, 2002]],
                   columns=['event1', 'event2'])
print(lefth)
righth

In this case, you have to indicate multiple columns to merge on as a list (pay attention to the handling of duplicate index values):

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True)

In [ ]:
pd.merge(lefth, righth, left_on=['key1', 'key2'], right_index=True, how='outer')

Using the indexes of both sides of the merge is also not an issue:

In [ ]:
left_2 = pd.DataFrame([[1., 2.], [3., 4.], [5., 6.]], 
                  index=['a', 'c', 'e'], columns=['Ohio', 'Nevada'])
right_2 = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [13, 14]],
                   index=['b', 'c', 'd', 'e'], columns=['Missouri', 'Alabama'])
print(left_2)
right_2

In [ ]:
pd.merge(left_2, right_2, how='outer', left_index=True, right_index=True)

`DataFrame` has a more convenient join instance for merging by index. It can also be used to combine together many `DataFrame` objects having the same or similar indexes but non-overlapping columns. 

In the prior example, we could have written:

In [ ]:
left_2.join(right_2, how='outer')

`DataFrame` `,join()` method performs a left join on the join keys (mostly for legacy reasons in much earlier versions of pandas). It also supports joining the index of the passed `DataFrame` on one of the columns of the calling `DataFrame`:

In [ ]:
left_1.join(right_1, on='key')

Lastly, for simple index-on-index merges, you can pass a list of `DataFrames` to join as an alternative to using the more general concat function described below:

In [ ]:
another = pd.DataFrame([[7., 8.], [9., 10.], [11., 12.], [16., 17.]],
                    index=['a', 'c', 'e', 'f'], columns=['New York', 'Oregon'])
left_2.join([right_2, another])
left_2.join([right_2, another], how='outer')

### 3.9.3 Combining and Mergind Data Sets: Exercises

<div class="alert alert-warning">
<b>EXERCISE (17): </b>

<p>1. Define two dataframes:</p>

**df1 = pd.DataFrame({'employee': ['Emma', 'George', 'Lisa', 'Olivia'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})**
                    
**df2 = pd.DataFrame({'employee': ['Emma', 'Olivia', 'Jacob', 'George','Lisa'],
    'hire_date': [2004, 2008, 2012, 2014,2009]})**
    
<p>2. Combine the two dataframes. The expected output is: </p>
<img src="//i.imgur.com/MIT5PDl.png" height="30%" width="30%">

</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (18): </b>

<p>Combine the dataframes <b>df1</b> and <b>df2</b> defined in Exercise 1. The expected output is: </p>
<img src="//i.imgur.com/9vhABls.png" height="30%" width="30%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (19): </b>

<p>1. Define two dataframes:</p>

**df1 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],'key2': ['K0', 'K1', 'K0', 'K1'],
                           'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']})**

**df2 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],'key2': ['K0', 'K0', 'K0', 'K0'],
                           'C': ['C0', 'C1', 'C2', 'C3'],'D': ['D0', 'D1', 'D2', 'D3']})**
    
<p>2. Combine the two dataframes. The data from <b>df1</b> should be kept in the new dataframe. The expected output is:</p>
<img src="//i.imgur.com/8miA1nl.png" height="30%" width="30%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (20): </b>

<p>1. Define two dataframes:</p>

**df1=DataFrame({'key1':['foo','foo','bar','bar'],
                 'key2':['one','one','one','two'],
                 'lval':[4,5,6,7]})**

**df2=DataFrame({'key3':['foo','foo','bar'],
                'key4':['one','two','one'],
                'lval':[1,2,3]})**

<p>2. Combine the two dataframes. The expected output is:</p>
<img src="//i.imgur.com/60F7pZn.png" height="30%" width="30%">
</div>

In [ ]:
# Solution

## 3.10 Concatenating Along an Axis 

Another kind of data combination operation is alternatively referred to as **concatenation**, binding, or stacking. **`NumPy`** has a concatenate function for doing this with raw NumPy arrays:

In [ ]:
arr = np.arange(12).reshape((3, 4))
arr.shape

In [ ]:
arr_2 = np.concatenate([arr, arr], axis=1)
arr_2.shape

In the context of **`Pandas`** objects such as `Series` and `DataFrame`, having labeled axes enable you to further generalize array concatenation. In particular, you have a number of additional things to think about:

- If the objects are indexed differently on the other axes, should the collection of axes be unioned or intersected?
- Do the groups need to be identifiable in the resulting object?
- Does the concatenation axis matter at all?

The `concat` function in `Pandas` provides a consistent way to address each of these concerns. We will give a number of examples to illustrate how it works. Suppose we have three `Series` with no index overlap:

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])
print(s1)
print(s2)
print(s3)

Calling `concat` with these object in a list glues together the values and indexes:

In [ ]:
pd.concat([s1, s2, s3])

By default `concat` works along `axis=0`, producing another `Series`. If you pass `axis=1`, the result will instead be a `DataFrame` (`axis=1` is the columns). In this case there is no overlap on the other axis, which as you can see is the sorted union (the 'outer' join) of the indexes.

In [ ]:
pd.concat([s1, s2, s3], axis=1)

Alternatively, you can intersect them by passing `join='inner'`:

In [ ]:
s4 = pd.concat([s1 * 5, s3])
print(pd.concat([s1, s4], axis=1))
pd.concat([s1, s4], axis=1, join='inner')

One issue is that the concatenated pieces are not identifiable in the result. Suppose instead you wanted to create a hierarchical index on the concatenation axis. To do this, use the keys argument:

In [ ]:
result = pd.concat([s1, s1, s3], keys=['one', 'two', 'three'])
result 
result.unstack() # Much more on the unstack function later

In the case of combining `Series` along `axis=1`, the keys become the `DataFrame` column headers:

In [ ]:
pd.concat([s1, s2, s3], axis=1, keys=['one', 'two', 'three'])

The same logic extends to `DataFrame` objects:

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3, 2), index=['a', 'b', 'c'], columns=['one', 'two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2, 2), index=['a', 'c'], columns=['three', 'four'])
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'])

If you pass a dict of objects instead of a list, the dict’s keys will be used for the keys option:

In [ ]:
pd.concat({'level1': df1, 'level2': df2}, axis=1)

There are a couple of additional arguments governing how the hierarchical index is created:

In [ ]:
pd.concat([df1, df2], axis=1, keys=['level1', 'level2'],
          names=['upper', 'lower'])

A last consideration concerns `DataFrames` in which the row index is not meaningful in the context of the analysis:

In [ ]:
df1 = pd.DataFrame(np.random.randn(3, 4), columns=['a', 'b', 'c', 'd'])
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['b', 'd', 'a'])
print(df1)
df2

In this case, you can pass `ignore_index=True`:

In [ ]:
pd.concat([df1, df2], ignore_index=True)

`concat` **function arguments**

| **Arguments** | **Description** |
| --- | --- |
| `objs` | List or dict of **`Pandas`** objects to be concatenated. The only required argument |
| `axis` | Axis to concatenate along; defaults to 0 |
| `join` | One of **inner**, **outer**, defaulting to **outer**; whether to intersection (inner) or union (outer) together indexes along the other axes |
| `join_axis` | Specific indexes to use for the other $n-1$ axes instead of performing union/intersection logic |
| `keys` | Values to associate with objects being concatenated, forming a hierarchical index along the concatenation axis. Can either be a list or array of arbitrary values, an array of tuples, or a list of arrays (if multiple level arrays passed in `levels`) |
| `levels` | Specific indexes to use as hierarchical index level or levels if keys passed |
| `names` | Names for created hierarchical levels if `keys` and / or `levels` passed |
| `verify_integrity` | Check new axis in concatenated object for duplicates and raise exception if so. By default (`False`) allows duplicates |
| `ignore_index` | Do not preserve indexes along concatenation `axis`, instead producing a new `range(total_length)` index |

## 3.11 Combining Data with `overlap`

Another data combination situation can’t be expressed as either a *merge* or *concatenation* operation. You may have two datasets whose indexes overlap in full or part. As a motivating example, consider the **`NumPy`** `where` function, which expressed a vectorized if-else:

In [ ]:
a = pd.Series([np.nan, 2.5, np.nan, 3.5, 4.5, np.nan], index=['f', 'e', 'd', 'c', 'b', 'a'])
b = pd.Series(np.arange(len(a), dtype=np.float64), index=['f', 'e', 'd', 'c', 'b', 'a'])
b[-1] = np.nan
print(a)
b

In [ ]:
np.where(pd.isnull(a), b, a)

`Series` has a `.combine_first()` method, which performs the equivalent of this operation plus data alignment:

In [ ]:
b[:-2].combine_first(a[2:])

With `DataFrame`, `.combine_first()` naturally does the same thing column by column, so you can think of it as “patching” missing data in the calling object with data from the object you pass:

In [ ]:
df1 = pd.DataFrame({'a': [1., np.nan, 5., np.nan], 
                 'b': [np.nan, 2., np.nan, 6.],
                 'c': range(2, 18, 4)})
df2 = pd.DataFrame({'a': [5., 4., np.nan, 3., 7.], 
                 'b': [np.nan, 3., 4., 6., 8.]})
df1.combine_first(df2)

### 3.11.1 Combining Data wityh `overlap`: Exercises

<div class="alert alert-warning">
<b>EXERCISE (21): </b>

<p>1. Define two dataframes:</p>

**df1 = DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank': range(1, 4)})**

**df2 = DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'], 'rank': [1, 4, 5]})**
    
<p>2. Concatenate the two dataframes. The expected output is:</p>
<img src="//i.imgur.com/V0nutRc.png" height="30%" width="30%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (22): </b>

<p>Concatenate the two dataframes defined in Exercise (21). The expected output is:</p>
<img src="//i.imgur.com/6PHyKor.png" height="20%" width="20%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (23): </b>
<p>Concatenate the two dataframes defined in Exercise (21). The expected output is:</p>
<img src="//i.imgur.com/tNoIebC.png" height="20%" width="20%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (24): </b>

<p>1. Define two dataframes:</p>

**df1 = DataFrame({'city': ['Chicago', 'San Francisco', 'New York City'], 'rank': range(1, 4)})**

**df2 = DataFrame({'city': ['Chicago', 'Boston', 'Los Angeles'], 'rank': [1, 4, 5]})**
    
<p>2. Concatenate the two dataframes. The expected output is:</p>
<img src="//i.imgur.com/AylE54E.png" height="30%" width="30%">
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (25): </b>

<p>1. Define two dataframes:</p>

**df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])**

**df2 = pd.DataFrame([[-42.6, -7.7, -8.2], [-5., 1.6, 4]], index=[1, 2])**
    
<p>2. Fill in the missing data in <b>df1</b> with data from <b>df2</b>. The expected output is:</p>
<img src="//i.imgur.com/seWo2n9.png" height="20%" width="20%">
</div>

In [ ]:
# Solution

## 3.12 Reshaping

There are a number of fundamental operations for rearranging tabular data. These are alternatingly referred to as reshape or pivot operations.

### 3.12.1 Reshaping with Hierarchical Indexing 

Hierarchical indexing provides a consistent way to rearrange data in a `DataFrame`. 

There are two primary actions:
- `.stack()`: this “rotates” or pivots from the columns in the data to the rows
- `.unstack()`: this pivots from the rows into the columns

We can illustrate these operations through a series of examples. 

Consider a small `DataFrame` with string arrays as row and column indexes:

In [ ]:
data= pd.DataFrame(np.arange(6).reshape((2, 3)),
                index=pd.Index(['Ohio', 'Colorado'], name='state'),
                columns=pd.Index(['one', 'two', 'three'], name='number'))
data

Using the `.stack()` method on this data pivots the columns into the rows, producing a `Series`:

In [ ]:
result = data.stack()
result

From a hierarchically-indexed `Series`, you can rearrange the data back into a `DataFrame` with `.unstack()`:

In [ ]:
result.unstack()

By default the innermost level is unstacked (same with `.stack()`). You can unstack a different level by passing a level number or name:

In [ ]:
print(result.unstack(0))
result.unstack('state')

Unstacking might introduce missing data if all of the values in the level aren’t found in each of the subgroups:

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2 = pd.concat([s1, s2], keys=['one', 'two'])
data2.unstack()

Stacking filters out missing data by default, so the operation is easily invertible:

In [ ]:
print(data2.unstack().stack())
data2.unstack().stack(dropna=False)

When unstacking in a `DataFrame`, the level unstacked becomes the lowest level in the result:

In [ ]:
df = pd.DataFrame({'left': result, 'right': result + 5}, columns=pd.Index(['left', 'right'], name='side'))
df

In [ ]:
print(df.unstack('state'))
df.unstack('state').stack('side')

### 3.12.2 Reshaping: Exrecises

<div class="alert alert-warning">
<b>EXERCISE (26): </b>

<p>1. Use the **df** dataframe:</p>

**df = DataFrame({'left': result, 'right': result + 5}, columns=pd.Index(['left', 'right'], name='side'))**

<p>2. Unstack the **df** and the name of the axis to stack is side.</p>

<p>3. The expected output should look as follows:</p>
<img src="//i.imgur.com/GxKOrM1.png" style="max-width: 100%; min-height: 233px;">



</div>

In [ ]:
# Solution

## 3.13 Data Transformation 

So far we’ve been concerned with rearranging data. 

Filtering, cleaning, and other tranformations are another class of important operations.

###  3.13.1 Removing Duplicates 

Duplicate rows may be found in a `DataFrame` for any number of reasons. Here is an example:

In [ ]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})
data

The `DataFrame` method `.duplicated()` returns a boolean `Series` indicating whether each row is a duplicate or not:

In [ ]:
data.duplicated()

Relatedly, `.drop_duplicates()` returns a `DataFrame` where the duplicated array is `True`:

In [ ]:
data.drop_duplicates()

Both of these methods by default consider all of the columns; alternatively you can specify any subset of them to detect duplicates. Suppose we had an additional column of values and wanted to filter duplicates only based on the `k1` column:

In [ ]:
data['v1'] = range(7)
data.drop_duplicates(['k1'])

`.duplicated()` and `.drop_duplicates()` by default keep the first observed value combination. Passing `take_last=True` will return the last one:

In [ ]:
data.drop_duplicates(['k1', 'k2'], keep='last')

### 3.13.2 Transforming Data Using a Function or Mapping

For many data sets, you may wish to perform some transformation based on the values in an array, `Series`, or column in a `DataFrame`. Consider the following hypothetical data collected about some kinds of meat:

In [ ]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 
                           'corned beef', 'Bacon', 'pastrami', 'honey ham',
                           'nova lox'],
                  'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

Suppose you wanted to add a column indicating the type of animal that each food came from.

Let’s write down a mapping of each distinct meat type to the kind of animal:

In [ ]:
meat_to_animal = { 'bacon': 'pig', 
                  'pulled pork': 'pig', 
                  'pastrami': 'cow', 
                  'corned beef': 'cow', 
                  'honey ham': 'pig', 
                  'nova lox': 'salmon'}

The `.map()` method on a `Series` accepts a function or dict-like object containing a mapping, but here we have a small problem in that some of the meats above are capitalized and others are not.Thus, we also need to convert each value to lower case:

In [ ]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

We could also have passed a function that does all the work:

In [ ]:
data['food'].map(lambda x: meat_to_animal[x.lower()])

Using `.map()` is a convenient way to perform element-wise transformations and other data cleaning-related operations.

### 3.13.3 Data Transformation: Exercises

<div class="alert alert-warning">
<b>EXERCISE (27): </b>

<p>1. Use the <b>data</b> dataframe:</p>

**raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Miller','Ali', 'Milner', 'Cooze'], 
        'age': [42, 42, 36, 24, 73], 
        'preTestScore': [4, 4, 31, 2, 3],
        'postTestScore': [25, 25, 57, 62, 70]}**

**score_df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])**
    
<p>2. The <b>score_df</b> looks as follows:</p>

<img src="//i.imgur.com/b2d4hZv.png" style="max-width: 100%; min-height: 167px;">

<p>3. Write a code which deletes the duplicate row in the dataframe <b>score_df</b>. Take the last observation in the duplicated set.</p>

</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (28): </b>

Write a code which multiplies each item in the list called **nums** by 2 using lamda syntax.

**nums = [11,22,33]**

</div>

In [ ]:
# Solution

## 3.14 Replacing Values

Filling in missing data with the `.fillna()` method can be thought of as a special case of more general value replacement. 

While `.map()`, as you’ve seen above, can be used to modify a subset of values in an object, `.replace()` provides a simpler and more flexible way to do so. Let’s consider the following `Series`:

In [ ]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

The -999 values might be sentinel values for missing data. To replace these with `NA` values that **`Pandas`** understands, we can use replace, producing a new `Series`:

In [ ]:
data.replace(-999, np.nan)

If you want to replace multiple values at once, you instead pass a list then the substitute value:

In [ ]:
data.replace([-999, -1000], np.nan)

To use a different replacement for each value, pass a list of substitutes:

In [ ]:
data.replace([-999, -1000], [np.nan, 0])

The argument passed can also be a dict:

In [ ]:
data.replace({-999: np.nan, -1000: 0})

### 3.14.1 Renaming Axis Indexes

Like values in a `Series`, axis labels can be similarly transformed by a function or mapping of some form to produce new, differently labeled objects. 

The axes can also be modified in place without creating a new data structure. Here’s a simple example:

In [ ]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                 index=['Ohio', 'Colorado', 'New York'],
                 columns=['one', 'two', 'three', 'four'])
data

Like a `Series`, the axis indexes have a `.map()` method:

In [ ]:
data.index.map(str.upper)

You can assign to index, modifying the `DataFrame` in place:

In [ ]:
data.index = data.index.map(str.upper)
data

If you want to create a transformed version of a data set without modifying the original, a useful method is `.rename()`:

In [ ]:
data.rename(index=str.title, columns=str.upper)

Notably, `.rename()` can be used in conjunction with a dictionary-like object providing new values for a subset of the axis labels:

In [ ]:
data.rename(index={'OHIO': 'INDIANA'},
            columns={'three': 'peekaboo'})

`.rename()` saves having to copy the `DataFrame` manually and assign to its index and columns attributes. Should you wish to modify a data set in place, pass `inplace=True`:

In [ ]:
# Always returns a reference to a DataFrame
_ = data.rename(index={'OHIO': 'INDIANA'}, inplace=True) 
data

### 3.14.2 Discretization and Binning

Continuous data is often discretized or otherwised separated into “bins” for analysis. Suppose you have data about a group of people in a study, and you want to group them into discrete age buckets:

In [ ]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Let’s divide these into bins of 18 to 25, 26 to 35, 35 to 60, and finally 60 and older. To do so, you have to use `cut`, a function in **`Pandas`**:

In [ ]:
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins)
cats

The object **`Pandas`** returns is a special Categorical object. You can treat it like an array of strings indicating the bin name; internally it contains a `categories` array indicating the distinct category names along with a labeling for the ages data in the labels attribute:

In [ ]:
print(cats.codes)
print(cats.categories)
pd.value_counts(cats)

Consistent with mathematical notation for intervals, a parenthesis means that the side is *open* while the square bracket means it is closed (inclusive). Which side is closed can be changed by passing `right=False`:

In [ ]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

You can also pass your own bin names by passing a list or array to the labels option:

In [ ]:
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
pd.cut(ages, bins, labels=group_names)

If you pass `cut` a integer number of bins instead of explicit bin edges, it will compute equal-length bins based on the minimum and maximum values in the data. 

Consider the case of some uniformly distributed data chopped into quarters:

In [ ]:
data = np.random.rand(20)
pd.cut(data, 4, precision=2)

A closely related function, `qcut`, bins the data based on sample quantiles. Depending on the distribution of the data, using `cut` will not usually result in each bin having the same number of data points. 

Since `qcut` uses sample quantiles instead, by definition you will obtain roughly equal-size bins:

In [ ]:
data = np.random.randn(1000) # Normally distributed
cats = pd.qcut(data, 4) # Cut into quartiles
cats

In [ ]:
pd.value_counts(cats)

Similar to cut you can pass your own quantiles (numbers between 0 and 1, inclusive):

In [ ]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

We’ll return to `cut` and `qcut` later when we look at **aggregation** and **group operations**, as these discretization functions are especially useful for quantile and group analysis.

### 3.14.3 Detecting and Filtering Outliers

Filtering or transforming outliers is largely a matter of applying array operations. Consider a `DataFrame` with some normally distributed data:

In [ ]:
np.random.seed(12345)
data = pd.DataFrame(np.random.randn(1000, 4))

In [ ]:
data.describe()

Suppose you wanted to find values in one of the columns exceeding three in magnitude:

In [ ]:
col = data[3]
col[np.abs(col) > 3]

To select all rows having a value exceeding 3 or -3, you can use the `.any()` method on a Boolean `DataFrame`:

In [ ]:
data[(np.abs(data) > 3).any(axis=1)]

Values can just as easily be set based on these criteria. Here is code to cap values outside the interval [-3,3] to -3 or 3:

In [ ]:
data[np.abs(data) > 3] = np.sign(data) * 3
data.describe()

The ufunc `numpy.sign` returns an array of 1 and -1 depending on the sign of the values.

### 3.14.4 Permutation and Random Sampling

Permuting (randomly reordering) a `Series` or the rows in a `DataFrame` is easy to do using the `numpy.random.permutation` function. 

Calling permutation with the length of the axis you want to permute produces an array of integers indicating the new ordering:

In [ ]:
df = pd.DataFrame(np.arange(5 * 4).reshape(5, 4))
sampler = np.random.permutation(5)
sampler

That array can then be used in `ix-` based indexing or the take function:

In [ ]:
print(df)
df.take(sampler)

To select a random subset without replacement, one way is to slice off the first $k$ elements of the array returned by `permutation`, where $k$ is the desired subset size. 

There are much more efficient sampling-without-replacement algorithms, but this is an easy strategy that uses readily available tools:

In [ ]:
df.take(np.random.permutation(len(df))[:3])

To generate a sample with replacement, the fastest way is to use `numpy.random.randint` to draw random integers:

In [ ]:
bag = np.array([5, 7, -1, 6, 4])
print(bag)
sampler = np.random.randint(0, len(bag), size=10)
print(sampler)
draws = bag.take(sampler)
print(draws)

### 3.14.5 Replacing Values: Exercises

<div class="alert alert-warning">
<b>EXERCISE (29): </b>

Write a code which replaces the **np.nan** in **df** by 0.

**df = Series([2., np.nan, 5., -999., -1000., np.nan.])**.
</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (30): </b> 

1. Use the **data** dataframe:

**data = DataFrame(np.arange(12).reshape((3, 4)),
                 index=['Ohio', 'Colorado', 'New York'],
                 columns=['one', 'two', 'three', 'four'])**
    

2. The **data** dataframe looks as follows:

<img src="//i.imgur.com/YJ0VMrB.png" style="max-width: 100%; min-height: 114px;">

3. Write a code which transforms the column names of **data** in upper case. 

</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (31): </b> 

1. Use the **data** dataframe:
    
**data = DataFrame(np.arange(12).reshape((3, 4)),
                 index=['Ohio', 'Colorado', 'New York'],
                 columns=['one', 'two', 'three', 'four'])**
    

2. The **data** dataframe looks as follows:
<img src="//i.imgur.com/YJ0VMrB.png" style="max-width: 100%; min-height: 114px;">

3. Write a code which transforms the row name **Colorado** of **data** to **Boston**. 


</div>

In [ ]:
# Solution

<div class="alert alert-warning">
<b>EXERCISE (32): </b> 

Select all rows having a value exceeding 3.2 or -3.2 from the dataframe from Exercise (31), using the **any** method on a Boolean.

</div>

In [ ]:
# Solution

# 4. APIs and Working with Web Applicatrions

## 4.1 Importing Files from the Web

Let's import your first file from the web! The flat file you will import will be 'winequality-red.csv' from the **`University of California`**, **`Irvine's Machine Learning`** repository. The flat file contains tabular data of physiochemical properties of red wine, such as pH, alcohol content and citric acid content, along with wine quality rating.

The URL of the file is

'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

After you import it, you'll check your working directory to confirm that it is there and then you'll load it into a pandas DataFrame.

To imported winequality-red.csv from archive.ics.uci.edu, save it locally and load it into a DataFrame:

In [ ]:
# Import package
import pandas as pd
from urllib.request import urlretrieve

# Assign url of file: url
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Save file locally
urlretrieve(url, './static/winequality-red.csv')

# Read file into a DataFrame and print its head
df = pd.read_csv('winequality-red.csv', sep=';')
print(df.head())

If you just wanted to load a file from the web into a DataFrame without first saving it locally, you can use the function `pandas.read_csv()` with the URL as the first argument and the separator sep as the second argument:

The URL of the fileis:

'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

In [ ]:
# Import packages
import pandas as pd
import matplotlib.pyplot as plt

# Assign url of file: url
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv'

# Read file into a DataFrame: df
df = pd.read_csv(url, sep=';')

# Print the head of the DataFrame
print(df.head())

# Plot first column of df
pd.DataFrame.hist(df.iloc[:, 0:1])
plt.xlabel('Fixed Acidity (g(tartaric acid)/dm$^3$)')
plt.ylabel('Count')
plt.show()

You can use `pandas.read_excel()` to import an Excel spreadsheet either saved locally or from the web. For example, feeding the following URL to `pandas.read_excel()` you can read in all of its sheets, print the sheet names and print the head of the first sheet using its name, not its index.

The URL of the spreadsheet is:

'http://www.cse.ohio-state.edu/~hwshen/Melbourne/Data/Superstore.xlsx'

Note that the output of `pandas.read_excel()` is a **`Python`** dictionary with sheet names as keys and corresponding DataFrames as corresponding values.

In [ ]:
# Import package
import pandas as pd

# Assign url of file: url
url = 'http://www.cse.ohio-state.edu/~hwshen/Melbourne/Data/Superstore.xlsx'

# Read in all sheets of Excel file: xl
xl = pd.read_excel(url, sheet_name=None)

# Print the sheetnames to the shell
print(xl.keys())

# Print the head of the first sheet (using its name, NOT its index)
print(xl['Orders'].head())

## 4.2 HTTP Requests in Python

To get the files directly loaded into a pandas' DataFrame, **`Pandas`** does HTTP GET requests to get the files and load them into memory. 

In this part of the lesson, we do our own HTTP requests. First, let's ping python.org servers to perform a GET request to extract information from:

"https://www.python.org/~guido/".

In [ ]:
# Import packages
from urllib.request import Request, urlopen

# Specify the url
url = "https://www.python.org/~guido/"

# This packages the request: request
request = Request(url)

# Sends the request and catches the response: response
response = urlopen(request)

# Print the datatype of response
print(type(response))

# Be polite and close the response!
response.close()

We just packaged and sent a GET request to "https://www.python.org/~guido/" and then caught the response. 

The response is an `http.client.HTTPResponse` object. Since the response came from an HTML page, you could read the response to extract the HTML. The `http.client.HTTPResponse` object has an associated `.read()` method that facilitates this.

In [ ]:
# Import packages
from urllib.request import urlopen, Request

# Specify the url
url = "https://www.python.org/~guido/"

# This packages the request
request = Request(url)

# Sends the request and catches the response: response
response = urlopen(request)

# Extract the response: html
html = response.read()

# Print the html
print(html)

# Be polite and close the response!
response.close()

### 4.2.1 HTTP Requests Using **`requests`**

There are different libraries in Python to handle HTTP requests. `requests` is a higher-level requests library. With*`requests`, you don't have to close the connection:

In [ ]:
# Import package
import requests

# Specify the url: url
url = "https://www.python.org/~guido/"

# Packages the request, send the request and catch the response: r
r = requests.get(url)

# Extract the response: text
text = r.text

# Print the html
print(text)

## 4.3 API Requests


An **API** is a set of definitions and protocols for building and integrating application software. API stands for application programming interface.

APIs let your product or service communicate with other products and services without having to know how they’re implemented. This can simplify app development, saving time and money. When you’re designing new tools and products—or managing existing ones—APIs give you flexibility; simplify design, administration, and use; and provide opportunities for innovation.

APIs are sometimes thought of as contracts, with documentation that represents an agreement between parties: If party 1 sends a remote request structured a particular way, this is how party 2’s software will respond.

Web APIs typically use HTTP for request messages and provide a definition of the structure of response messages. These response messages usually take the form of an XML or JSON file. Both XML and JSON are preferred formats because they present data in a way that’s easy for other apps to manipulate.

As defined by: [redhat.com](https://www.redhat.com/en/topics/api/what-are-application-programming-interfaces)

The two major standards for APIs are:

- **SOAP** (Simple Object Access Protocol) is an interface to communicate and exchange data over HTTP and SMTP using structured data XML (Extensible Markup Language)
- **REST** (Representational State Transfer)

Web APIs that adhere to the REST architectural constraints are called RESTful APIs. REST differs from SOAP in a fundamental way: SOAP is a protocol, whereas REST is an architectural style. This means that there’s no official standard for RESTful web APIs ([redhat.com](https://www.redhat.com/en/topics/api/what-are-application-programming-interfaces)).

Since **REST APIs** are the most popular APIs and they realy on the JSON data format to send and receive messages, we are going to first explore how to load a JSON file, which **`Python`** interprets as a dictionary.

In [ ]:
import json

# Load JSON: json_data
with open("./static/a_movie.json") as json_file:
    json_data = json.load(json_file)

# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])

### 4.3.1 API Request With Authentication

Let's make an API requests to the **`Open Movie Database`** (OMDB) to search for the movie "The Social Network":

- Import the requests package.
- The URL to query is: 
        'http://www.omdbapi.com'
- The Open Movie Database (OMDB) requires to provide to register for an `apikey` to use their RESTful web service. You can register [here](https://www.omdbapi.com/apikey.aspx).
- The query string should have two arguments: `apikey=your_api_key` and `t=movie+name`. You can combine them as follows:
`apikey=72bc447a&t=the+social+network`.

In [ ]:
# Import requests package
import requests

# Method 1:
url = 'http://www.omdbapi.com?apikey=72bc447a&t=the+social+network'
r = requests.get(url)

# Method 2:
# url = "http://www.omdbapi.com"
# params = {"apikey":"72bc447a", "t":"the social network"}
# r = requests.get(url, params=params)

print(r.text)

Above, we just printed the text of the HTTP response. The response is actually a JSON, so you can do one step better and decode the JSON data into a dictionary:

In [ ]:
# Import package
import requests

# Assign URL to variable: url
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=social+network'

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Decode the JSON data into a dictionary: json_data
json_data = r.json()

# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])

### 4.3.2 API Request Without Authentication

The Open Movie Database (OMDB) returned a simple JSON. However, there are other APIs that are going to return nested JSONs, that is, JSONs within JSONs, but Python can handle that because it will translate them into dictionaries within dictionaries.

For example, let's make a request to the Wikipedia API searching for "University College London"
The URL that requests the relevant query from the Wikipedia API is:
    
    - https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&exintro=&titles=University+College+London

In [ ]:
# Import package
import requests

# Assign URL to variable: url
url = "https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&exintro=&titles=University+College+London"

# Package the request, send the request and catch the response: r
r = requests.get(url)

# Decode the JSON data into a dictionary: json_data
json_data = r.json()

# Print the Wikipedia page extract
wikipedia_extract = json_data['query']['pages']['52029']['extract']
print(wikipedia_extract)

<h1> Credits </h1>

- [Online Python Tutor: Embeddable Web-Based Program Visualization for CS Education](http://pythontutor.com/), Philip J. Guo, ACM Technical Symposium on Computer Science Education (SIGCSE), 2013


- Machine Learning Algorithms from Scratch with Python, 2017, Jason Brownlee, v1.2


- An introduction to Python Programming for Research, UCL, 2017, James Hetherington [here:](http://rits.github-pages.ucl.ac.uk/doctoral-programming-intro/notes.pdf)


- A Primer on Scientific Programming with Python, 4th Edition, 2014, Hans Petter Langtangen 
Resources [here:](http://hplgit.github.io/scipro-primer/)


- [W3C's Web Services Architecture](https://www.w3.org/TR/ws-arch/)